%h2.fs-title
  Control Information
%h3.fs-subtitle
  LGA
%div#four_one.div-for-radios
  = label_tag(:feed_mill_oyo_lga_one, "Ibadan North", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga, "Ibadan North", checked: true)
  = label_tag(:feed_mill_oyo_lga_two, "Ibadan South", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga, "Ibadan South")
  = label_tag(:feed_mill_oyo_lga_three, "Oyo", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga, "Oyo")
  = label_tag(:feed_mill_oyo_lga_four, "Felele", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga, "Felele")
%div#four_two.div-for-radios
  = label_tag(:feed_mill_osun_lga_one, "Osun North", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga, "Osun North", checked: true)
  = label_tag(:feed_mill_osun_lga_two, "Osun East", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga, "Osun East")
  = label_tag(:feed_mill_osun_lga_three, "Osun West", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga, "Osun West")
  = label_tag(:feed_mill_osun_lga_four, "Osun South", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga, "Osun South")
%div#four_three.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_one, "Jigawa North", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga, "Jigawa North", checked: true)
  = label_tag(:feed_mill_jigawa_lga_two, "Jigawa East", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga, "Jigawa East")
  = label_tag(:feed_mill_jigawa_lga_three, "Jigawa West", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga, "Jigawa West")
  = label_tag(:feed_mill_jigawa_lga_four, "Jigawa South", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga, "Jigawa South")
%div#four_four.div-for-radios
  = label_tag(:feed_mill_kano_lga_one, "Kano North", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga, "Kano North", checked: true)
  = label_tag(:feed_mill_kano_lga_two, "Kano East", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga, "Kano East")
  = label_tag(:feed_mill_kano_lga_three, "Kano West", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga, "Kano West")
  = label_tag(:feed_mill_kano_lga_four, "Kano South", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga, "Kano South")
%br
%input{ :type => "button", :name => "previous", :class => "previous action-button", :value => "Previous", 'data-next-in-seq': "#three" }
%input{ :type => "button", :name => "next", :class => "next action-button", :value => "Next", "data-element-id" => "#feed_mill_oyo_lga_one", 'data-next-in-seq': "#five" }