%h2.fs-title
  Control Information
%h3.fs-subtitle
  COMMUNITY
%div#six_one_one_one.div-for-radios
  = label_tag(:feed_mill_oyo_lga_one_ward_one_comm_one, "Oyo LG One Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_one_comm, "Oyo LG One Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_one_ward_one_comm_two, "Oyo LG One Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_one_comm, "Oyo LG One Ward 1 Community 2")
  = label_tag(:feed_mill_oyo_lga_one_ward_one_comm_three, "Oyo LG One Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_one_comm, "Oyo LG One Ward 1 Community 3")
  = label_tag(:feed_mill_oyo_lga_one_ward_one_comm_four, "Oyo LG One Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_one_comm, "Oyo LG One Ward 1 Community 4")
%div#six_one_one_two.div-for-radios
  = label_tag(:feed_mill_oyo_lga_one_ward_two_comm_one, "Oyo LG One Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_two_comm, "Oyo LG One Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_one_ward_two_comm_two, "Oyo LG One Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_two_comm, "Oyo LG One Ward 2 Community 2")
  = label_tag(:feed_mill_oyo_lga_one_ward_two_comm_three, "Oyo LG One Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_two_comm, "Oyo LG One Ward 2 Community 3")
  = label_tag(:feed_mill_oyo_lga_one_ward_two_comm_four, "Oyo LG One Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_two_comm, "Oyo LG One Ward 2 Community 4")
%div#six_one_one_three.div-for-radios
  = label_tag(:feed_mill_oyo_lga_one_ward_three_comm_one, "Oyo LG One Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_three_comm, "Oyo LG One Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_one_ward_three_comm_two, "Oyo LG One Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_three_comm, "Oyo LG One Ward 3 Community 2")
  = label_tag(:feed_mill_oyo_lga_one_ward_three_comm_three, "Oyo LG One Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_three_comm, "Oyo LG One Ward 3 Community 3")
  = label_tag(:feed_mill_oyo_lga_one_ward_three_comm_four, "Oyo LG One Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward_three_comm, "Oyo LG One Ward 3 Community 4")

%div#six_one_two_one.div-for-radios
  = label_tag(:feed_mill_oyo_lga_two_ward_one_comm_one, "Oyo LG Two Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_one_comm, "Oyo LG Two Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_two_ward_one_comm_two, "Oyo LG Two Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_one_comm, "Oyo LG Two Ward 1 Community 2")
  = label_tag(:feed_mill_oyo_lga_two_ward_one_comm_three, "Oyo LG Two Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_one_comm, "Oyo LG Two Ward 1 Community 3")
  = label_tag(:feed_mill_oyo_lga_two_ward_one_comm_four, "Oyo LG Two Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_one_comm, "Oyo LG Two Ward 1 Community 4")
%div#six_one_two_two.div-for-radios
  = label_tag(:feed_mill_oyo_lga_two_ward_two_comm_one, "Oyo LG Two Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_two_comm, "Oyo LG Two Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_two_ward_two_comm_two, "Oyo LG Two Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_two_comm, "Oyo LG Two Ward 2 Community 2")
  = label_tag(:feed_mill_oyo_lga_two_ward_two_comm_three, "Oyo LG Two Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_two_comm, "Oyo LG Two Ward 2 Community 3")
  = label_tag(:feed_mill_oyo_lga_two_ward_two_comm_four, "Oyo LG Two Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_two_comm, "Oyo LG Two Ward 2 Community 4")
%div#six_one_two_three.div-for-radios
  = label_tag(:feed_mill_oyo_lga_two_ward_three_comm_one, "Oyo LG Two Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_three_comm, "Oyo LG Two Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_two_ward_three_comm_two, "Oyo LG Two Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_three_comm, "Oyo LG Two Ward 3 Community 2")
  = label_tag(:feed_mill_oyo_lga_two_ward_three_comm_three, "Oyo LG Two Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_three_comm, "Oyo LG Two Ward 3 Community 3")
  = label_tag(:feed_mill_oyo_lga_two_ward_three_comm_four, "Oyo LG Two Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward_three_comm, "Oyo LG Two Ward 3 Community 4")

%div#six_one_three_one.div-for-radios
  = label_tag(:feed_mill_oyo_lga_three_ward_one_comm_one, "Oyo LG Three Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_one_comm, "Oyo LG Three Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_three_ward_one_comm_two, "Oyo LG Three Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_one_comm, "Oyo LG Three Ward 1 Community 2")
  = label_tag(:feed_mill_oyo_lga_three_ward_one_comm_three, "Oyo LG Three Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_one_comm, "Oyo LG Three Ward 1 Community 3")
  = label_tag(:feed_mill_oyo_lga_three_ward_one_comm_four, "Oyo LG Three Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_one_comm, "Oyo LG Three Ward 1 Community 4")
%div#six_one_three_two.div-for-radios
  = label_tag(:feed_mill_oyo_lga_three_ward_two_comm_one, "Oyo LG Three Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_two_comm, "Oyo LG Three Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_three_ward_two_comm_two, "Oyo LG Three Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_two_comm, "Oyo LG Three Ward 2 Community 2")
  = label_tag(:feed_mill_oyo_lga_three_ward_two_comm_three, "Oyo LG Three Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_two_comm, "Oyo LG Three Ward 2 Community 3")
  = label_tag(:feed_mill_oyo_lga_three_ward_two_comm_four, "Oyo LG Three Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_two_comm, "Oyo LG Three Ward 2 Community 4")
%div#six_one_three_three.div-for-radios
  = label_tag(:feed_mill_oyo_lga_three_ward_three_comm_one, "Oyo LG Three Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_three_comm, "Oyo LG Three Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_three_ward_three_comm_two, "Oyo LG Three Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_three_comm, "Oyo LG Three Ward 3 Community 2")
  = label_tag(:feed_mill_oyo_lga_three_ward_three_comm_three, "Oyo LG Three Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_three_comm, "Oyo LG Three Ward 3 Community 3")
  = label_tag(:feed_mill_oyo_lga_three_ward_three_comm_four, "Oyo LG Three Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward_three_comm, "Oyo LG Three Ward 3 Community 4")

%div#six_one_four_one.div-for-radios
  = label_tag(:feed_mill_oyo_lga_four_ward_one_comm_one, "Oyo LG Four Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_one_comm, "Oyo LG Four Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_four_ward_one_comm_two, "Oyo LG Four Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_one_comm, "Oyo LG Four Ward 1 Community 2")
  = label_tag(:feed_mill_oyo_lga_four_ward_one_comm_three, "Oyo LG Four Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_one_comm, "Oyo LG Four Ward 1 Community 3")
  = label_tag(:feed_mill_oyo_lga_four_ward_one_comm_four, "Oyo LG Four Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_one_comm, "Oyo LG Four Ward 1 Community 4")
%div#six_one_four_two.div-for-radios
  = label_tag(:feed_mill_oyo_lga_four_ward_two_comm_one, "Oyo LG Four Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_two_comm, "Oyo LG Four Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_four_ward_two_comm_two, "Oyo LG Four Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_two_comm, "Oyo LG Four Ward 2 Community 2")
  = label_tag(:feed_mill_oyo_lga_four_ward_two_comm_three, "Oyo LG Four Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_two_comm, "Oyo LG Four Ward 2 Community 3")
  = label_tag(:feed_mill_oyo_lga_four_ward_two_comm_four, "Oyo LG Four Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_two_comm, "Oyo LG Four Ward 2 Community 4")
%div#six_one_four_three.div-for-radios
  = label_tag(:feed_mill_oyo_lga_four_ward_three_comm_one, "Oyo LG Four Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_three_comm, "Oyo LG Four Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_four_ward_three_comm_two, "Oyo LG Four Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_three_comm, "Oyo LG Four Ward 3 Community 2")
  = label_tag(:feed_mill_oyo_lga_four_ward_three_comm_three, "Oyo LG Four Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_three_comm, "Oyo LG Four Ward 3 Community 3")
  = label_tag(:feed_mill_oyo_lga_four_ward_three_comm_four, "Oyo LG Four Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward_three_comm, "Oyo LG Four Ward 3 Community 4")

%div#six_two_one_one.div-for-radios
  = label_tag(:feed_mill_osun_lga_one_ward_one_comm_one, "Osun LG One Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_one_comm, "Osun LG One Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_one_ward_one_comm_two, "Osun LG One Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_one_comm, "Osun LG One Ward 1 Community 2")
  = label_tag(:feed_mill_osun_lga_one_ward_one_comm_three, "Osun LG One Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_one_comm, "Osun LG One Ward 1 Community 3")
  = label_tag(:feed_mill_osun_lga_one_ward_one_comm_four, "Osun LG One Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_one_comm, "Osun LG One Ward 1 Community 4")
%div#six_two_one_two.div-for-radios
  = label_tag(:feed_mill_osun_lga_one_ward_two_comm_one, "Osun LG One Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_two_comm, "Osun LG One Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_one_ward_two_comm_two, "Osun LG One Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_two_comm, "Osun LG One Ward 2 Community 2")
  = label_tag(:feed_mill_osun_lga_one_ward_two_comm_three, "Osun LG One Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_two_comm, "Osun LG One Ward 2 Community 3")
  = label_tag(:feed_mill_osun_lga_one_ward_two_comm_four, "Osun LG One Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_two_comm, "Osun LG One Ward 2 Community 4")
%div#six_two_one_three.div-for-radios
  = label_tag(:feed_mill_osun_lga_one_ward_three_comm_one, "Osun LG One Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_three_comm, "Osun LG One Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_one_ward_three_comm_two, "Osun LG One Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_three_comm, "Osun LG One Ward 3 Community 2")
  = label_tag(:feed_mill_osun_lga_one_ward_three_comm_three, "Osun LG One Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_three_comm, "Osun LG One Ward 3 Community 3")
  = label_tag(:feed_mill_osun_lga_one_ward_three_comm_four, "Osun LG One Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward_three_comm, "Osun LG One Ward 3 Community 4")

%div#six_two_two_one.div-for-radios
  = label_tag(:feed_mill_osun_lga_two_ward_one_comm_one, "Osun LG Two Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_one_comm, "Osun LG Two Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_two_ward_one_comm_two, "Osun LG Two Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_one_comm, "Osun LG Two Ward 1 Community 2")
  = label_tag(:feed_mill_osun_lga_two_ward_one_comm_three, "Osun LG Two Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_one_comm, "Osun LG Two Ward 1 Community 3")
  = label_tag(:feed_mill_osun_lga_two_ward_one_comm_four, "Osun LG Two Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_one_comm, "Osun LG Two Ward 1 Community 4")
%div#six_two_two_two.div-for-radios
  = label_tag(:feed_mill_osun_lga_two_ward_two_comm_one, "Osun LG Two Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_two_comm, "Osun LG Two Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_two_ward_two_comm_two, "Osun LG Two Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_two_comm, "Osun LG Two Ward 2 Community 2")
  = label_tag(:feed_mill_osun_lga_two_ward_two_comm_three, "Osun LG Two Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_two_comm, "Osun LG Two Ward 2 Community 3")
  = label_tag(:feed_mill_osun_lga_two_ward_two_comm_four, "Osun LG Two Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_two_comm, "Osun LG Two Ward 2 Community 4")
%div#six_two_two_three.div-for-radios
  = label_tag(:feed_mill_osun_lga_two_ward_three_comm_one, "Osun LG Two Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_three_comm, "Osun LG Two Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_two_ward_three_comm_two, "Osun LG Two Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_three_comm, "Osun LG Two Ward 3 Community 2")
  = label_tag(:feed_mill_osun_lga_two_ward_three_comm_three, "Osun LG Two Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_three_comm, "Osun LG Two Ward 3 Community 3")
  = label_tag(:feed_mill_osun_lga_two_ward_three_comm_four, "Osun LG Two Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward_three_comm, "Osun LG Two Ward 3 Community 4")

%div#six_two_three_one.div-for-radios
  = label_tag(:feed_mill_osun_lga_three_ward_one_comm_one, "Osun LG Three Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_one_comm, "Osun LG Three Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_three_ward_one_comm_two, "Osun LG Three Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_one_comm, "Osun LG Three Ward 1 Community 2")
  = label_tag(:feed_mill_osun_lga_three_ward_one_comm_three, "Osun LG Three Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_one_comm, "Osun LG Three Ward 1 Community 3")
  = label_tag(:feed_mill_osun_lga_three_ward_one_comm_four, "Osun LG Three Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_one_comm, "Osun LG Three Ward 1 Community 4")
%div#six_two_three_two.div-for-radios
  = label_tag(:feed_mill_osun_lga_three_ward_two_comm_one, "Osun LG Three Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_two_comm, "Osun LG Three Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_three_ward_two_comm_two, "Osun LG Three Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_two_comm, "Osun LG Three Ward 2 Community 2")
  = label_tag(:feed_mill_osun_lga_three_ward_two_comm_three, "Osun LG Three Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_two_comm, "Osun LG Three Ward 2 Community 3")
  = label_tag(:feed_mill_osun_lga_three_ward_two_comm_four, "Osun LG Three Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_two_comm, "Osun LG Three Ward 2 Community 4")
%div#six_two_three_three.div-for-radios
  = label_tag(:feed_mill_osun_lga_three_ward_three_comm_one, "Osun LG Three Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_three_comm, "Osun LG Three Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_three_ward_three_comm_two, "Osun LG Three Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_three_comm, "Osun LG Three Ward 3 Community 2")
  = label_tag(:feed_mill_osun_lga_three_ward_three_comm_three, "Osun LG Three Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_three_comm, "Osun LG Three Ward 3 Community 3")
  = label_tag(:feed_mill_osun_lga_three_ward_three_comm_four, "Osun LG Three Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward_three_comm, "Osun LG Three Ward 3 Community 4")

%div#six_two_four_one.div-for-radios
  = label_tag(:feed_mill_osun_lga_four_ward_one_comm_one, "Osun LG Four Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_one_comm, "Osun LG Four Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_four_ward_one_comm_two, "Osun LG Four Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_one_comm, "Osun LG Four Ward 1 Community 2")
  = label_tag(:feed_mill_osun_lga_four_ward_one_comm_three, "Osun LG Four Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_one_comm, "Osun LG Four Ward 1 Community 3")
  = label_tag(:feed_mill_osun_lga_four_ward_one_comm_four, "Osun LG Four Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_one_comm, "Osun LG Four Ward 1 Community 4")
%div#six_two_four_two.div-for-radios
  = label_tag(:feed_mill_osun_lga_four_ward_two_comm_one, "Osun LG Four Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_two_comm, "Osun LG Four Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_four_ward_two_comm_two, "Osun LG Four Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_two_comm, "Osun LG Four Ward 2 Community 2")
  = label_tag(:feed_mill_osun_lga_four_ward_two_comm_three, "Osun LG Four Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_two_comm, "Osun LG Four Ward 2 Community 3")
  = label_tag(:feed_mill_osun_lga_four_ward_two_comm_four, "Osun LG Four Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_two_comm, "Osun LG Four Ward 2 Community 4")
%div#six_two_four_three.div-for-radios
  = label_tag(:feed_mill_osun_lga_four_ward_three_comm_one, "Osun LG Four Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_three_comm, "Osun LG Four Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_osun_lga_four_ward_three_comm_two, "Osun LG Four Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_three_comm, "Osun LG Four Ward 3 Community 2")
  = label_tag(:feed_mill_osun_lga_four_ward_three_comm_three, "Osun LG Four Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_three_comm, "Osun LG Four Ward 3 Community 3")
  = label_tag(:feed_mill_osun_lga_four_ward_three_comm_four, "Osun LG Four Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward_three_comm, "Osun LG Four Ward 3 Community 4")

%div#six_three_one_one.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_one_ward_one_comm_one, "Jigawa LG One Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_one_comm, "Jigawa LG One Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_one_ward_one_comm_two, "Jigawa LG One Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_one_comm, "Jigawa LG One Ward 1 Community 2")
  = label_tag(:feed_mill_jigawa_lga_one_ward_one_comm_three, "Jigawa LG One Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_one_comm, "Jigawa LG One Ward 1 Community 3")
  = label_tag(:feed_mill_jigawa_lga_one_ward_one_comm_four, "Jigawa LG One Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_one_comm, "Jigawa LG One Ward 1 Community 4")
%div#six_three_one_two.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_one_ward_two_comm_one, "Jigawa LG One Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_two_comm, "Jigawa LG One Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_one_ward_two_comm_two, "Jigawa LG One Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_two_comm, "Jigawa LG One Ward 2 Community 2")
  = label_tag(:feed_mill_jigawa_lga_one_ward_two_comm_three, "Jigawa LG One Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_two_comm, "Jigawa LG One Ward 2 Community 3")
  = label_tag(:feed_mill_jigawa_lga_one_ward_two_comm_four, "Jigawa LG One Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_two_comm, "Jigawa LG One Ward 2 Community 4")
%div#six_three_one_three.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_one_ward_three_comm_one, "Jigawa LG One Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_three_comm, "Jigawa LG One Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_one_ward_three_comm_two, "Jigawa LG One Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_three_comm, "Jigawa LG One Ward 3 Community 2")
  = label_tag(:feed_mill_jigawa_lga_one_ward_three_comm_three, "Jigawa LG One Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_three_comm, "Jigawa LG One Ward 3 Community 3")
  = label_tag(:feed_mill_jigawa_lga_one_ward_three_comm_four, "Jigawa LG One Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward_three_comm, "Jigawa LG One Ward 3 Community 4")

%div#six_three_two_one.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_two_ward_one_comm_one, "Jigawa LG Two Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_one_comm, "Jigawa LG Two Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_two_ward_one_comm_two, "Jigawa LG Two Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_one_comm, "Jigawa LG Two Ward 1 Community 2")
  = label_tag(:feed_mill_jigawa_lga_two_ward_one_comm_three, "Jigawa LG Two Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_one_comm, "Jigawa LG Two Ward 1 Community 3")
  = label_tag(:feed_mill_jigawa_lga_two_ward_one_comm_four, "Jigawa LG Two Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_one_comm, "Jigawa LG Two Ward 1 Community 4")
%div#six_three_two_two.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_two_ward_two_comm_one, "Jigawa LG Two Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_two_comm, "Jigawa LG Two Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_two_ward_two_comm_two, "Jigawa LG Two Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_two_comm, "Jigawa LG Two Ward 2 Community 2")
  = label_tag(:feed_mill_jigawa_lga_two_ward_two_comm_three, "Jigawa LG Two Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_two_comm, "Jigawa LG Two Ward 2 Community 3")
  = label_tag(:feed_mill_jigawa_lga_two_ward_two_comm_four, "Jigawa LG Two Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_two_comm, "Jigawa LG Two Ward 2 Community 4")
%div#six_three_two_three.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_two_ward_three_comm_one, "Jigawa LG Two Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_three_comm, "Jigawa LG Two Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_two_ward_three_comm_two, "Jigawa LG Two Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_three_comm, "Jigawa LG Two Ward 3 Community 2")
  = label_tag(:feed_mill_jigawa_lga_two_ward_three_comm_three, "Jigawa LG Two Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_three_comm, "Jigawa LG Two Ward 3 Community 3")
  = label_tag(:feed_mill_jigawa_lga_two_ward_three_comm_four, "Jigawa LG Two Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward_three_comm, "Jigawa LG Two Ward 3 Community 4")

%div#six_three_three_one.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_three_ward_one_comm_one, "Jigawa LG Three Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_one_comm, "Jigawa LG Three Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_three_ward_one_comm_two, "Jigawa LG Three Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_one_comm, "Jigawa LG Three Ward 1 Community 2")
  = label_tag(:feed_mill_jigawa_lga_three_ward_one_comm_three, "Jigawa LG Three Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_one_comm, "Jigawa LG Three Ward 1 Community 3")
  = label_tag(:feed_mill_jigawa_lga_three_ward_one_comm_four, "Jigawa LG Three Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_one_comm, "Jigawa LG Three Ward 1 Community 4")
%div#six_three_three_two.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_three_ward_two_comm_one, "Jigawa LG Three Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_two_comm, "Jigawa LG Three Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_three_ward_two_comm_two, "Jigawa LG Three Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_two_comm, "Jigawa LG Three Ward 2 Community 2")
  = label_tag(:feed_mill_jigawa_lga_three_ward_two_comm_three, "Jigawa LG Three Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_two_comm, "Jigawa LG Three Ward 2 Community 3")
  = label_tag(:feed_mill_jigawa_lga_three_ward_two_comm_four, "Jigawa LG Three Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_two_comm, "Jigawa LG Three Ward 2 Community 4")
%div#six_three_three_three.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_three_ward_three_comm_one, "Jigawa LG Three Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_three_comm, "Jigawa LG Three Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_three_ward_three_comm_two, "Jigawa LG Three Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_three_comm, "Jigawa LG Three Ward 3 Community 2")
  = label_tag(:feed_mill_jigawa_lga_three_ward_three_comm_three, "Jigawa LG Three Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_three_comm, "Jigawa LG Three Ward 3 Community 3")
  = label_tag(:feed_mill_jigawa_lga_three_ward_three_comm_four, "Jigawa LG Three Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward_three_comm, "Jigawa LG Three Ward 3 Community 4")

%div#six_three_four_one.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_four_ward_one_comm_one, "Jigawa LG Four Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_one_comm, "Jigawa LG Four Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_four_ward_one_comm_two, "Jigawa LG Four Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_one_comm, "Jigawa LG Four Ward 1 Community 2")
  = label_tag(:feed_mill_jigawa_lga_four_ward_one_comm_three, "Jigawa LG Four Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_one_comm, "Jigawa LG Four Ward 1 Community 3")
  = label_tag(:feed_mill_jigawa_lga_four_ward_one_comm_four, "Jigawa LG Four Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_one_comm, "Jigawa LG Four Ward 1 Community 4")
%div#six_three_four_two.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_four_ward_two_comm_one, "Jigawa LG Four Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_two_comm, "Jigawa LG Four Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_four_ward_two_comm_two, "Jigawa LG Four Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_two_comm, "Jigawa LG Four Ward 2 Community 2")
  = label_tag(:feed_mill_jigawa_lga_four_ward_two_comm_three, "Jigawa LG Four Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_two_comm, "Jigawa LG Four Ward 2 Community 3")
  = label_tag(:feed_mill_jigawa_lga_four_ward_two_comm_four, "Jigawa LG Four Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_two_comm, "Jigawa LG Four Ward 2 Community 4")
%div#six_three_four_three.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_four_ward_three_comm_one, "Jigawa LG Four Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_three_comm, "Jigawa LG Four Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_four_ward_three_comm_two, "Jigawa LG Four Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_three_comm, "Jigawa LG Four Ward 3 Community 2")
  = label_tag(:feed_mill_jigawa_lga_four_ward_three_comm_three, "Jigawa LG Four Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_three_comm, "Jigawa LG Four Ward 3 Community 3")
  = label_tag(:feed_mill_jigawa_lga_four_ward_three_comm_four, "Jigawa LG Four Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward_three_comm, "Jigawa LG Four Ward 3 Community 4")

%div#six_four_one_one.div-for-radios
  = label_tag(:feed_mill_kano_lga_one_ward_one_comm_one, "Kano LG One Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_one_comm, "Kano LG One Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_one_ward_one_comm_two, "Kano LG One Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_one_comm, "Kano LG One Ward 1 Community 2")
  = label_tag(:feed_mill_kano_lga_one_ward_one_comm_three, "Kano LG One Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_one_comm, "Kano LG One Ward 1 Community 3")
  = label_tag(:feed_mill_kano_lga_one_ward_one_comm_four, "Kano LG One Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_one_comm, "Kano LG One Ward 1 Community 4")
%div#six_four_one_two.div-for-radios
  = label_tag(:feed_mill_kano_lga_one_ward_two_comm_one, "Kano LG One Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_two_comm, "Kano LG One Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_one_ward_two_comm_two, "Kano LG One Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_two_comm, "Kano LG One Ward 2 Community 2")
  = label_tag(:feed_mill_kano_lga_one_ward_two_comm_three, "Kano LG One Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_two_comm, "Kano LG One Ward 2 Community 3")
  = label_tag(:feed_mill_kano_lga_one_ward_two_comm_four, "Kano LG One Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_two_comm, "Kano LG One Ward 2 Community 4")
%div#six_four_one_three.div-for-radios
  = label_tag(:feed_mill_kano_lga_one_ward_three_comm_one, "Kano LG One Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_three_comm, "Kano LG One Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_one_ward_three_comm_two, "Kano LG One Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_three_comm, "Kano LG One Ward 3 Community 2")
  = label_tag(:feed_mill_kano_lga_one_ward_three_comm_three, "Kano LG One Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_three_comm, "Kano LG One Ward 3 Community 3")
  = label_tag(:feed_mill_kano_lga_one_ward_three_comm_four, "Kano LG One Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward_three_comm, "Kano LG One Ward 3 Community 4")

%div#six_four_two_one.div-for-radios
  = label_tag(:feed_mill_kano_lga_two_ward_one_comm_one, "Kano LG Two Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_one_comm, "Kano LG Two Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_two_ward_one_comm_two, "Kano LG Two Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_one_comm, "Kano LG Two Ward 1 Community 2")
  = label_tag(:feed_mill_kano_lga_two_ward_one_comm_three, "Kano LG Two Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_one_comm, "Kano LG Two Ward 1 Community 3")
  = label_tag(:feed_mill_kano_lga_two_ward_one_comm_four, "Kano LG Two Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_one_comm, "Kano LG Two Ward 1 Community 4")
%div#six_four_two_two.div-for-radios
  = label_tag(:feed_mill_kano_lga_two_ward_two_comm_one, "Kano LG Two Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_two_comm, "Kano LG Two Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_two_ward_two_comm_two, "Kano LG Two Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_two_comm, "Kano LG Two Ward 2 Community 2")
  = label_tag(:feed_mill_kano_lga_two_ward_two_comm_three, "Kano LG Two Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_two_comm, "Kano LG Two Ward 2 Community 3")
  = label_tag(:feed_mill_kano_lga_two_ward_two_comm_four, "Kano LG Two Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_two_comm, "Kano LG Two Ward 2 Community 4")
%div#six_four_two_three.div-for-radios
  = label_tag(:feed_mill_kano_lga_two_ward_three_comm_one, "Kano LG Two Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_three_comm, "Kano LG Two Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_two_ward_three_comm_two, "Kano LG Two Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_three_comm, "Kano LG Two Ward 3 Community 2")
  = label_tag(:feed_mill_kano_lga_two_ward_three_comm_three, "Kano LG Two Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_three_comm, "Kano LG Two Ward 3 Community 3")
  = label_tag(:feed_mill_kano_lga_two_ward_three_comm_four, "Kano LG Two Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward_three_comm, "Kano LG Two Ward 3 Community 4")

%div#six_four_three_one.div-for-radios
  = label_tag(:feed_mill_kano_lga_three_ward_one_comm_one, "Kano LG Three Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_one_comm, "Kano LG Three Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_three_ward_one_comm_two, "Kano LG Three Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_one_comm, "Kano LG Three Ward 1 Community 2")
  = label_tag(:feed_mill_kano_lga_three_ward_one_comm_three, "Kano LG Three Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_one_comm, "Kano LG Three Ward 1 Community 3")
  = label_tag(:feed_mill_kano_lga_three_ward_one_comm_four, "Kano LG Three Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_one_comm, "Kano LG Three Ward 1 Community 4")
%div#six_four_three_two.div-for-radios
  = label_tag(:feed_mill_kano_lga_three_ward_two_comm_one, "Kano LG Three Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_two_comm, "Kano LG Three Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_three_ward_two_comm_two, "Kano LG Three Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_two_comm, "Kano LG Three Ward 2 Community 2")
  = label_tag(:feed_mill_kano_lga_three_ward_two_comm_three, "Kano LG Three Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_two_comm, "Kano LG Three Ward 2 Community 3")
  = label_tag(:feed_mill_kano_lga_three_ward_two_comm_four, "Kano LG Three Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_two_comm, "Kano LG Three Ward 2 Community 4")
%div#six_four_three_three.div-for-radios
  = label_tag(:feed_mill_kano_lga_three_ward_three_comm_one, "Kano LG Three Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_three_comm, "Kano LG Three Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_three_ward_three_comm_two, "Kano LG Three Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_three_comm, "Kano LG Three Ward 3 Community 2")
  = label_tag(:feed_mill_kano_lga_three_ward_three_comm_three, "Kano LG Three Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_three_comm, "Kano LG Three Ward 3 Community 3")
  = label_tag(:feed_mill_kano_lga_three_ward_three_comm_four, "Kano LG Three Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward_three_comm, "Kano LG Three Ward 3 Community 4")

%div#six_four_four_one.div-for-radios
  = label_tag(:feed_mill_kano_lga_four_ward_one_comm_one, "Kano LG Four Ward 1 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_one_comm, "Kano LG Four Ward 1 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_four_ward_one_comm_two, "Kano LG Four Ward 1 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_one_comm, "Kano LG Four Ward 1 Community 2")
  = label_tag(:feed_mill_kano_lga_four_ward_one_comm_three, "Kano LG Four Ward 1 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_one_comm, "Kano LG Four Ward 1 Community 3")
  = label_tag(:feed_mill_kano_lga_four_ward_one_comm_four, "Kano LG Four Ward 1 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_one_comm, "Kano LG Four Ward 1 Community 4")
%div#six_four_four_two.div-for-radios
  = label_tag(:feed_mill_kano_lga_four_ward_two_comm_one, "Kano LG Four Ward 2 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_two_comm, "Kano LG Four Ward 2 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_four_ward_two_comm_two, "Kano LG Four Ward 2 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_two_comm, "Kano LG Four Ward 2 Community 2")
  = label_tag(:feed_mill_kano_lga_four_ward_two_comm_three, "Kano LG Four Ward 2 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_two_comm, "Kano LG Four Ward 2 Community 3")
  = label_tag(:feed_mill_kano_lga_four_ward_two_comm_four, "Kano LG Four Ward 2 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_two_comm, "Kano LG Four Ward 2 Community 4")
%div#six_four_four_three.div-for-radios
  = label_tag(:feed_mill_kano_lga_four_ward_three_comm_one, "Kano LG Four Ward 3 Community 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_three_comm, "Kano LG Four Ward 3 Community 1", checked: true)
  = label_tag(:feed_mill_kano_lga_four_ward_three_comm_two, "Kano LG Four Ward 3 Community 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_three_comm, "Kano LG Four Ward 3 Community 2")
  = label_tag(:feed_mill_kano_lga_four_ward_three_comm_three, "Kano LG Four Ward 3 Community 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_three_comm, "Kano LG Four Ward 3 Community 3")
  = label_tag(:feed_mill_kano_lga_four_ward_three_comm_four, "Kano LG Four Ward 3 Community 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward_three_comm, "Kano LG Four Ward 3 Community 4")
    
%br
%input{ :type => "button", :name => "previous", :class => "previous action-button", :value => "Previous", 'data-next-in-seq': "#five" }
%input{ :type => "button", :name => "next", :class => "next action-button", :value => "Next", "data-element-id" => "#feed_mill_oyo_lga_one_ward_one_comm_one", 'data-next-in-seq': "#seven" }