= semantic_form_for [:admin, @feed_mill] do |f| 
  %fieldset

%form#msform
  %fieldset#one
    %h2.fs-title
      Feed milling Enterprise survey questionnaire, Nigeria Poultry Value Chain, version April 17  2017 for pretest
    
    %h3.fs-subtitle
      This survey is conducted by MSU in collaboration with University of Ibadan and ABU. The survey is to study the maize farm segment of the poultry value chain in order to make recommendations
    %label{ :for => "wish_to_continue" }
      Do you wish to continue with the interview?
    %div.div-for-start-radios
      = label_tag(:wish_to_continue_yes, "Yes", class: "label-for-radios")
      = radio_button_tag(:wish_to_continue, "Yes", checked: true)
      = label_tag(:wish_to_continue_no, "No", class: "label-for-radios")
      = radio_button_tag(:wish_to_continue, "No")
      %br
    %input{ :type => "button", :name => "next", :class => "next action-button", :value => "Next", "data-element-id" => "#wish_to_continue_No", 'data-next-in-seq': "#two" }
  %fieldset#two
    %h2.fs-title
      Control Information
    %h4
      DATE OF INTERVIEW
    %input{ :type => "date", :name => "feed_mill[interview_date]", :id => "feed_mill_interview_date", :required => true, "data-msg" => "Please specify the date of this interview" }
    %input{ :type => "button", :name => "previous", :class => "previous action-button", :value => "Previous", 'data-next-in-seq': "#one" }
    %input{ :type => "button", :name => "next", :class => "next action-button", :value => "Next", "data-element-id" => "#feed_mill_interview_date", 'data-next-in-seq': "#three" }
  %fieldset#three
    = render partial: 'feed_mill_states'
  %fieldset#four
    = render partial: 'feed_mill_lgas'
  %fieldset#five
    = render partial: 'feed_mill_wards'
  %fieldset#six
    = render partial: 'feed_mill_communities'
  %fieldset#seven
    %h2.fs-title
      Control Information
    %h3.fs-subtitle
      NAME OF MILLER
    %input{ :type => "text", :id => "feed_mill_name_of_miller", :class => "test-for-blank", :name => "feed_mill[name_of_miller]", :required => true, "data-msg" => "Please specify the name of the miller", "data-rule-minlength" => "2", "data-rule-maxlength" => "50", "data-msg-minlength" => "At least 2 letters for the miller name", "data-msg-maxlength" => "At most 30 letters for the miller name" }
    %input{ :type => "button", :name => "previous", :class => "previous action-button", :value => "Previous", 'data-next-in-seq': "#six" }
    %input{ :type => "button", :name => "next", :class => "next action-button", :value => "Next", "data-element-id" => "#feed_mill_name_of_miller", 'data-next-in-seq': "#eight" }
  %fieldset#eight
    %h2.fs-title
      Section 1: Characteristics of the miller (owner)
    %h2.fs-title
      Personal Characteristics
    %h3.fs-subtitle
      AGE
    %input{ :type => "number", :id => "feed_mill_age", :class => "test-for-blank", :name => "feed_mill[age]", :required => true, "data-rule-min" => "18", "data-msg" => "Specify an age greater than 18 for the miller"  }
    %input{ :type => "button", :name => "previous", :class => "previous action-button", :value => "Previous", 'data-next-in-seq': "#seven" }
    %input{ :type => "button", :name => "next", :class => "next action-button", :value => "Next", "data-element-id" => "#feed_mill_age", 'data-next-in-seq': "#nine" }
  %fieldset#nine
    %h2.fs-title
      Section 1: Characteristics of the miller (owner)
    %h2.fs-title
      Personal Characteristics
    %h3.fs-subtitle
      GENDER
    %select{ :name => "feed_mill[state]", :id => "feed_mill_gender", :required => true, "data-msg" => "Please choose the gender of the miller" }
      %option{ :value => "" }
      %option{ :value => "1" }
        Male
      %option{ :value => "2" }
        Female
    %input{ :type => "button", :name => "previous", :class => "previous action-button", :value => "Previous", 'data-next-in-seq': "#eight" }
    %input{ :type => "button", :name => "next", :class => "next action-button", :value => "Next", "data-element-id" => "#feed_mill_gender", 'data-next-in-seq': "#ten" }
  %fieldset#ten
    %h2.fs-title
      Section 1: Characteristics of the miller (owner)
    %h2.fs-title
      Personal Characteristics
    %h3.fs-subtitle
      MARITAL STATUS
    %div#marital-status-div.div-for-generic-radios
      = label_tag(:feed_mill_marital_status_married, "Married", class: "label-for-radios")
      = radio_button_tag(:feed_mill_marital_status, "Married", checked: true)
      = label_tag(:feed_mill_marital_status_single, "Single", class: "label-for-radios")
      = radio_button_tag(:feed_mill_marital_status, "Single")
      = label_tag(:feed_mill_marital_status_divorced, "Divorced", class: "label-for-radios")
      = radio_button_tag(:feed_mill_marital_status, "Divorced")
      = label_tag(:feed_mill_marital_status_widowed, "Widowed", class: "label-for-radios")
      = radio_button_tag(:feed_mill_marital_status, "Widowed")
      = label_tag(:feed_mill_marital_status_others, "Others, specify", class: "label-for-radios")
      = radio_button_tag(:feed_mill_marital_status, "Others, specify")
    %br
    %input{ :type => "button", :name => "previous", :class => "previous action-button", :value => "Previous", 'data-next-in-seq': "#nine" }
    %input{ :type => "button", :name => "next", :class => "next action-button", :value => "Next", "data-element-id" => "#marital-status-div", 'data-next-in-seq': "#eleven" }
  %fieldset#eleven
    %h2.fs-title
      Survey Completed
    %h3.fs-subtitle
      PLEASE REVIEW THE SURVEY RESULTS
    %input{ :type => "button", :name => "previous", :class => "previous action-button", :value => "Previous", 'data-next-in-seq': "#ten" }
    %input{ :type => "submit", :name => "submit", :class => "submit action-button", :value => "Submit" }  

= javascript_include_tag 'jquery', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'jquery.easing.min', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'jquery.validate.min', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'polyfiller', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'modernizr-custom', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'feed_mill', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag "feed_mill", media: "all", "data-turbolinks-track": 'reload'
%script
  webshims.setOptions('waitReady', false);
  webshims.setOptions('forms-ext', {types: 'date'});
  webshims.polyfill('forms forms-ext');
