%h2.fs-title
  Control Information
%h3.fs-subtitle
  WARD
%div#five_one_one.div-for-radios
  = label_tag(:feed_mill_oyo_lga_one_ward_one, "Oyo LG One Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward, "Oyo LG One Ward 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_one_ward_two, "Oyo LG One Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward, "Oyo LG One Ward 2")
  = label_tag(:feed_mill_oyo_lga_one_ward_three, "Oyo LG One Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward, "Oyo LG One Ward 3")
  = label_tag(:feed_mill_oyo_lga_one_ward_four, "Oyo LG One Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_one_ward, "Oyo LG One Ward 4")
%div#five_one_two.div-for-radios
  = label_tag(:feed_mill_oyo_lga_two_ward_one, "Oyo LG Two Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward, "Oyo LG Two Ward 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_two_ward_two, "Oyo LG Two Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward, "Oyo LG Two Ward 2")
  = label_tag(:feed_mill_oyo_lga_two_ward_three, "Oyo LG Two Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward, "Oyo LG Two Ward 3")
  = label_tag(:feed_mill_oyo_lga_two_ward_four, "Oyo LG Two Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_two_ward, "Oyo LG Two Ward 4")
%div#five_one_three.div-for-radios
  = label_tag(:feed_mill_oyo_lga_three_ward_one, "Oyo LG Three Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward, "Oyo LG Three Ward 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_three_ward_two, "Oyo LG Three Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward, "Oyo LG Three Ward 2")
  = label_tag(:feed_mill_oyo_lga_three_ward_three, "Oyo LG Three Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward, "Oyo LG Three Ward 3")
  = label_tag(:feed_mill_oyo_lga_three_ward_four, "Oyo LG Three Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_three_ward, "Oyo LG Three Ward 4")
%div#five_one_four.div-for-radios
  = label_tag(:feed_mill_oyo_lga_four_ward_one, "Oyo LG Four Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward, "Oyo LG Four Ward 1", checked: true)
  = label_tag(:feed_mill_oyo_lga_four_ward_two, "Oyo LG Four Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward, "Oyo LG Four Ward 2")
  = label_tag(:feed_mill_oyo_lga_four_ward_three, "Oyo LG Four Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward, "Oyo LG Four Ward 3")
  = label_tag(:feed_mill_oyo_lga_four_ward_four, "Oyo LG Four Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_oyo_lga_four_ward, "Oyo LG Four Ward 4")
%div#five_two_one.div-for-radios
  = label_tag(:feed_mill_osun_lga_one_ward_one, "Osun LG One Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward, "Osun LG One Ward 1", checked: true)
  = label_tag(:feed_mill_osun_lga_one_ward_two, "Osun LG One Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward, "Osun LG One Ward 2")
  = label_tag(:feed_mill_osun_lga_one_ward_three, "Osun LG One Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward, "Osun LG One Ward 3")
  = label_tag(:feed_mill_osun_lga_one_ward_four, "Osun LG One Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_one_ward, "Osun LG One Ward 4")
%div#five_two_two.div-for-radios
  = label_tag(:feed_mill_osun_lga_two_ward_one, "Osun LG Two Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward, "Osun LG Two Ward 1", checked: true)
  = label_tag(:feed_mill_osun_lga_two_ward_two, "Osun LG Two Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward, "Osun LG Two Ward 2")
  = label_tag(:feed_mill_osun_lga_two_ward_three, "Osun LG Two Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward, "Osun LG Two Ward 3")
  = label_tag(:feed_mill_osun_lga_two_ward_four, "Osun LG Two Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_two_ward, "Osun LG Two Ward 4")
%div#five_two_three.div-for-radios
  = label_tag(:feed_mill_osun_lga_three_ward_one, "Osun LG Three Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward, "Osun LG Three Ward 1", checked: true)
  = label_tag(:feed_mill_osun_lga_three_ward_two, "Osun LG Three Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward, "Osun LG Three Ward 2")
  = label_tag(:feed_mill_osun_lga_three_ward_three, "Osun LG Three Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward, "Osun LG Three Ward 3")
  = label_tag(:feed_mill_osun_lga_three_ward_four, "Osun LG Three Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_three_ward, "Osun LG Three Ward 4")
%div#five_two_four.div-for-radios
  = label_tag(:feed_mill_osun_lga_four_ward_one, "Osun LG Four Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward, "Osun LG Four Ward 1", checked: true)
  = label_tag(:feed_mill_osun_lga_four_ward_two, "Osun LG Four Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward, "Osun LG Four Ward 2")
  = label_tag(:feed_mill_osun_lga_four_ward_three, "Osun LG Four Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward, "Osun LG Four Ward 3")
  = label_tag(:feed_mill_osun_lga_four_ward_four, "Osun LG Four Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_osun_lga_four_ward, "Osun LG Four Ward 4")
%div#five_three_one.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_one_ward_one, "Jigawa LG One Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward, "Jigawa LG One Ward 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_one_ward_two, "Jigawa LG One Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward, "Jigawa LG One Ward 2")
  = label_tag(:feed_mill_jigawa_lga_one_ward_three, "Jigawa LG One Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward, "Jigawa LG One Ward 3")
  = label_tag(:feed_mill_jigawa_lga_one_ward_four, "Jigawa LG One Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_one_ward, "Jigawa LG One Ward 4")
%div#five_three_two.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_two_ward_one, "Jigawa LG Two Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward, "Jigawa LG Two Ward 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_two_ward_two, "Jigawa LG Two Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward, "Jigawa LG Two Ward 2")
  = label_tag(:feed_mill_jigawa_lga_two_ward_three, "Jigawa LG Two Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward, "Jigawa LG Two Ward 3")
  = label_tag(:feed_mill_jigawa_lga_two_ward_four, "Jigawa LG Two Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_two_ward, "Jigawa LG Two Ward 4")
%div#five_three_three.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_three_ward_one, "Jigawa LG Three Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward, "Jigawa LG Three Ward 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_three_ward_two, "Jigawa LG Three Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward, "Jigawa LG Three Ward 2")
  = label_tag(:feed_mill_jigawa_lga_three_ward_three, "Jigawa LG Three Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward, "Jigawa LG Three Ward 3")
  = label_tag(:feed_mill_jigawa_lga_three_ward_four, "Jigawa LG Three Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_three_ward, "Jigawa LG Three Ward 4")
%div#five_three_four.div-for-radios
  = label_tag(:feed_mill_jigawa_lga_four_ward_one, "Jigawa LG Four Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward, "Jigawa LG Four Ward 1", checked: true)
  = label_tag(:feed_mill_jigawa_lga_four_ward_two, "Jigawa LG Four Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward, "Jigawa LG Four Ward 2")
  = label_tag(:feed_mill_jigawa_lga_four_ward_three, "Jigawa LG Four Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward, "Jigawa LG Four Ward 3")
  = label_tag(:feed_mill_jigawa_lga_four_ward_four, "Jigawa LG Four Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_jigawa_lga_four_ward, "Jigawa LG Four Ward 4")
%div#five_four_one.div-for-radios
  = label_tag(:feed_mill_kano_lga_one_ward_one, "Kano LG One Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward, "Kano LG One Ward 1", checked: true)
  = label_tag(:feed_mill_kano_lga_one_ward_two, "Kano LG One Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward, "Kano LG One Ward 2")
  = label_tag(:feed_mill_kano_lga_one_ward_three, "Kano LG One Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward, "Kano LG One Ward 3")
  = label_tag(:feed_mill_kano_lga_one_ward_four, "Kano LG One Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_one_ward, "Kano LG One Ward 4")
%div#five_four_two.div-for-radios
  = label_tag(:feed_mill_kano_lga_two_ward_one, "Kano LG Two Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward, "Kano LG Two Ward 1", checked: true)
  = label_tag(:feed_mill_kano_lga_two_ward_two, "Kano LG Two Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward, "Kano LG Two Ward 2")
  = label_tag(:feed_mill_kano_lga_two_ward_three, "Kano LG Two Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward, "Kano LG Two Ward 3")
  = label_tag(:feed_mill_kano_lga_two_ward_four, "Kano LG Two Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_two_ward, "Kano LG Two Ward 4")
%div#five_four_three.div-for-radios
  = label_tag(:feed_mill_kano_lga_three_ward_one, "Kano LG Three Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward, "Kano LG Three Ward 1", checked: true)
  = label_tag(:feed_mill_kano_lga_three_ward_two, "Kano LG Three Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward, "Kano LG Three Ward 2")
  = label_tag(:feed_mill_kano_lga_three_ward_three, "Kano LG Three Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward, "Kano LG Three Ward 3")
  = label_tag(:feed_mill_kano_lga_three_ward_four, "Kano LG Three Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_three_ward, "Kano LG Three Ward 4")
%div#five_four_four.div-for-radios
  = label_tag(:feed_mill_kano_lga_four_ward_one, "Kano LG Four Ward 1", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward, "Kano LG Four Ward 1", checked: true)
  = label_tag(:feed_mill_kano_lga_four_ward_two, "Kano LG Four Ward 2", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward, "Kano LG Four Ward 2")
  = label_tag(:feed_mill_kano_lga_four_ward_three, "Kano LG Four Ward 3", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward, "Kano LG Four Ward 3")
  = label_tag(:feed_mill_kano_lga_four_ward_four, "Kano LG Four Ward 4", class: "label-for-radios")
  = radio_button_tag(:feed_mill_kano_lga_four_ward, "Kano LG Four Ward 4")
%br
%input{ :type => "button", :name => "previous", :class => "previous action-button", :value => "Previous", 'data-next-in-seq': "#four" }
%input{ :type => "button", :name => "next", :class => "next action-button", :value => "Next", "data-element-id" => "#feed_mill_oyo_lga_one_ward_one", 'data-next-in-seq': "#six" }