%h2.fs-title
  Control Information
%h4
  STATE
%select{ :name => "feed_mill[state]", :id => "feed_mill_state", :required => true, "data-msg" => "Please choose the state of this interview" }
  %option{ :value => "" }
  %option{ :value => "1" }
    Oyo
  %option{ :value => "2" }
    Osun
  %option{ :value => "3" }
    Jigawa
  %option{ :value => "4" }
    Kano
%input{ :type => "button", :name => "previous", :class => "previous action-button", :value => "Previous", 'data-next-in-seq': "#two" }
%input{ :type => "button", :name => "next", :class => "next action-button", :value => "Next", "data-element-id" => "#feed_mill_state", 'data-next-in-seq': "#four" }